:root {
  --background-color: #aed9e0;
  --containter-color: #faf3dd;
  --timer-background-color: #faf3dd;
  --header-background-color: #faf3dd;
  --timer-color: #ffa69e;
  --h1-color: #5e6472;
  --input-color: #b8f2e6;
  --input-focus-color: #ffa69e;
  --container-border-color: #a1922e;

  --color-1: #ffa69e;
  --color-2: #faf3dd;
  --color-3: #b8f2e6;
  --color-4: #aed9e0;
  --color-5: #5e6472;
  --color-6: #a1922e;
}

* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  margin: 0;
  background: var(--background-color);
  /* color: var(--h1-color); */
}

body,
.quote-input {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

header h1 {
  color: var(--h1-color);
  font-size: 3rem;
  display: flex;
  justify-content: center;
  border-radius: 0.5rem;
  width: 500px;
  max-width: 90%;
  margin: 1rem auto 1rem auto;
  padding: 1rem;
  /* -webkit-text-stroke: 1px white; */
}

.timer {
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 3rem;
  margin: 1rem auto;
  color: var(--timer-color);
  font-weight: bold;
  background-color: var(--timer-background-color);
  border-radius: 0.5rem;
  width: 150px;
  /* max-width: 90%; */
  position: relative;
  border: 3px solid var(--container-border-color);
  -webkit-text-stroke: 1px var(--container-border-color);
}

.container {
  background-color: var(--containter-color);
  padding: 1rem;
  font-size: 1.25rem;
  border-radius: 0.5rem;
  width: 700px;
  max-width: 90%;
  margin: auto;
  border: 3px solid var(--container-border-color);
}

.quote-display {
  margin-bottom: 1rem;
  margin-left: calc(1rem + 2px);
  margin-right: calc(1rem + 2px);
}

.quote-input {
  display: flex;
  background-color: var(--input-color);
  outline: none;
  width: 100%;
  height: 8rem;
  margin: auto;
  resize: none;
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  border-radius: 0.5rem;
}

.quote-input:focus {
  border: 2px solid var(--input-focus-color);
}

.correct {
  color: green;
}

.incorrect {
  color: red;
  text-decoration: underline;
}
